/* CSS RESET */
/* body{
    margin: 0px;
    padding:0px;
    background:url('bg.jpg');
    height: auto;
}

.left{
    border: 2px solid red;
}
.center{
    border: 2px solid red;
}
.right{
    border: 2px solid red;
} */